page-my-choosed {
  $from: #fd5070;
  $to: #ebebeb;
.fab.customBtn{
  height:30px;
  width:30px;
  border: 1px;
}

.custom-title {
  font-size: 16px;
  color: $color3;
  font-weight: bold;
}

.gifs-container {
  img {
      height: 100px;
      width: 100%;
  }
}
.gif-icon {
  width: 80%;
}
.button.customBtn{
height:30px;
width:60px;
border: 1px;
}
.fab.customBtn{
height:30px;
width:30px;
border: 1px;
}
}
