<ion-content>

    <!-- User Images  -->
    <div class="image-container">
      <!-- <img src="{{ImgURL}}/{{objArrayDogData.img1}}" /> -->

      <ion-slides>
          <ion-slide *ngIf="objArrayDogData.img1 != ''">
              <img src="{{ImgURL}}/{{objArrayDogData.img1}}" />
          </ion-slide>
          <ion-slide *ngIf="objArrayDogData.img2 != ''">
              <img  src="{{ImgURL}}/{{objArrayDogData.img2}}" />
          </ion-slide>
          <ion-slide *ngIf="objArrayDogData.img3 != ''" >
              <img src="{{ImgURL}}/{{objArrayDogData.img3}}" />
          </ion-slide>
          <ion-slide *ngIf="objArrayDogData.img4 != ''">
              <img src="{{ImgURL}}/{{objArrayDogData.img4}}" />
          </ion-slide>
          <ion-slide *ngIf="objArrayDogData.img5 != ''">
              <img src="{{ImgURL}}/{{objArrayDogData.img5}}" />
          </ion-slide>
          <ion-slide *ngIf="objArrayDogData.img6 != ''">
              <img src="{{ImgURL}}/{{objArrayDogData.img6}}" />
          </ion-slide>
      </ion-slides>

      <!-- Back/Dismiss Button  -->
      <button ion-button icon-only round color="background" (tap)="dismiss()">
        <ion-icon name="md-arrow-down" color="light"></ion-icon>
      </button>
    </div>

    <!-- User Profile Actions  -->
    <!-- <ion-fab top right (click)="actions($event)">
      <button ion-fab mini color="light"><ion-icon name="md-more"></ion-icon></button>
    </ion-fab> -->

    <!-- User Name & Age  -->
    <div class="section profile-info">
      <div class="name">{{objArrayDogData.dog_name}}, </div>
      <div class="name">{{(objArrayDogData.dog_ages - (objArrayDogData.dog_ages %12))/12}} Y {{objArrayDogData.dog_ages % 12}} M</div>
    </div>

    <!-- User About Information  -->
    <div class="section description">
    <ion-row>

        <ion-col col-5 class="custom-col"><b>Breed</b></ion-col>
        <ion-col col-5 class="custom-col">{{objArrayDogData.dog_breedname}}</ion-col>

        <ion-col col-5 class="custom-col"><b>Gender</b></ion-col>
        <ion-col col-5 class="custom-col">{{objArrayDogData.dog_gender}}</ion-col>

        <ion-col col-5 class="custom-col"><b>Color</b></ion-col>
        <ion-col col-5 class="custom-col">{{objArrayDogData.dog_colorname}}</ion-col>

        <!-- <ion-col col-5 class="custom-col"><b>Spayed/Neutered</b></ion-col>
        <ion-col col-5 class="custom-col"><img id="ImageAltered" src="assets/imgs/GreenCheck.JPG" style="height:15px;width:15px;"></ion-col> -->

        <ion-col col-5 class="custom-col"><b>About</b></ion-col>
        <ion-col col-5 class="custom-col">{{objArrayDogData.dog_about}}</ion-col>

    </ion-row>
    </div>

    <!-- Action Buttons  -->
    <div class="buttons">

      <!-- Dislike Button  -->
      <div class="button-container">
        <button ion-button icon-only round class="dislike" (click)="dismiss()">
          <ion-icon color="color3" name="md-close"></ion-icon>
        </button>
      </div>

      <!-- Like Button  -->
      <div class="button-container">
        <button ion-button icon-only round class="like" (click)="dismiss()">
          <ion-icon color="color5" name="heart"></ion-icon>
        </button>
      </div>

      <!-- Super Like Button  -->
  <!--
      <div class="button-container">
        <button ion-button icon-only round class="super-like" (click)="dismiss()">
          <ion-icon name="star"></ion-icon>
        </button>
      </div>
  -->
    </div>

  </ion-content>
